/src/rust/Cargo.lock
/src/rust/target/
/src/rust/tests/test-*
/tests/test.vcf-*
/tests/perf.slurm
/tests/slurm-*
/tests/apple.vcf
/tests/soybean.vcf
/misc/
/res/*.tsv
/res/*.csv
/res/*.rds
/res/*.sync
/res/*.out
/res/*.tmp
/res/*.vcf
/res/*BK*
/.vscode/